<h2>Acommodation</h2>
<!-- <button (click)="toggleRooms()">
  <ng-container *ngIf="!isShowing"> Show Rooms </ng-container>
  <ng-container *ngIf="isShowing"> Hide Rooms</ng-container>
</button> -->

<ul *ngIf="isShowing">
  <ng-container *ngFor="let singleroom of room">
    <app-home [room]="singleroom"></app-home>
    <!-- <li class="room">
      <p class="title">{{ room.name | titlecase }}</p>
      <br />
      <br /><br />
      <img [src]="room.image" [alt]="room.name" width="500" />

      <img [src]="room.image2" [alt]="room.name" width="500" />

      <br />
      <p class="description">{{ room.description }}</p>

      <p class="currency">{{ room.amount | currency : "LKR" }} Room Only</p>

      <button>Book Now</button>
    </li> -->
    <br />
  </ng-container>
</ul>
