/* footer  */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  background-color: rgb(114, 150, 165);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
