<nav>
  <div class="navigation">
    <div class="navigation-items">
      <a href="index.html">Home</a>
      <a routerLink="/booking"> Booking</a>
      <a href="Contact Us/ContactUs.html">Contact Us</a>
      <a routerLink="/login"></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <<app-homepage></app-homepage> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- footer -->

<div class="footer-container">
  <div>
    <h4 class="footer-heading-right">About Hotel J</h4>

    <p>
      Welcome to Hotel J , a luxurious and elegant hotel located in the heart of
      Colombo. Our hotel offers guests a truly unique and memorable experience
      with top-notch amenities and exceptional service.<br />
    </p>
  </div>

  <div>
    <h4 class="footer-heading-center">Navigation</h4>

    <li><a href="index.html">Home</a></li>
    <li><a routerLink="/booking"> Booking</a></li>
    <li><a href="Contact Us/ContactUs.html">Contact Us</a></li>
  </div>

  <div>
    <h4 class="footer-heading-left">Address</h4>

    <address>
      <strong>Hotel J </strong><br />64 Lotus Rd, Colombo 00100, Sri Lanka<br />
      Sri Lanka<br />

      <abbr title="Phone">H:</abbr> (+94) 768 968 960<br />

      <abbr title="Phone">T:</abbr> (+94) 912 222 550 <br />

      <abbr title="Email">E:</abbr> info@hotelj.com <br />
    </address>
  </div>
</div>
